.input,
.error {
    display: block;
    height: var(--input-height);
    width: 100%;
    border-radius: var(--input-border-radius);
    font-size: var(--input-font-size);
    padding: var(--input-padding);
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    border: 1px solid var(--input-colour-default);
    box-shadow: var(--input-shadow);
    
    &:focus { 
        outline: 2px solid var(--input-colour-focus);
    }
}

.error {
    &:focus {
        outline: 2px solid var(--input-colour-error);
    }
}

.label {
    width: var(--input-width);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    &strong {
        display: inline-block;
    }
}

.errorMessage {
    color: var(--input-colour-error);
    text-align: right;
}
