.button {
    width: 180px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: var(--button-bg-enabled);
    color: white;
}

.button:hover:not(:disabled) {
    background-color: var(--button-bg-hover);
}

.button:focus-visible {
    background-color: var(--button-bg-focus);
}

.button:active:not(:disabled) {
    background-color: var(--button-bg-active);
}

.button:disabled {
    background-color: var(--button-bg-disabled);
}
