.button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--button-colour-enabled);
    border: 4px solid var(--button-colour-enabled);
    outline: none;
    color: white;
}

.button:hover:not(:disabled) {
    background-color: var(--button-colour-hover);
    border: 4px solid var(--button-colour-hover);
}

.button:focus-visible {
    background-color: var(--button-colour-focus);
    border: 4px solid var(--button-colour-focus);
    box-shadow: inset 0 0 0 2px white;
}

.button:active:not(:disabled) {
    background-color: var(--button-colour-active);
    border: 4px solid var(--button-colour-active);
}

.button:disabled {
    background-color: var(--button-colour-disabled);
    border: 4px solid var(--button-colour-disabled);
    opacity: 0.6;
    cursor: not-allowed;
}
