.button,
.isLoading {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--button-colour-enabled);
    border: 4px solid var(--button-colour-enabled);
    outline: none;
    color: white;
}

.isLoading:disabled {
    cursor: pointer;
}

.button:hover:not(:disabled) {
    background-color: var(--button-colour-hover);
    border: 4px solid var(--button-colour-hover);
}

.button:focus-visible {
    background-color: var(--button-colour-focus);
    border: 4px solid var(--button-colour-focus);
    box-shadow: inset 0 0 0 2px white;
}

.button:active:not(:disabled) {
    background-color: var(--button-colour-active);
    border: 4px solid var(--button-colour-active);
}

.button:disabled {
    background-color: var(--button-colour-disabled);
    border: 4px solid var(--button-colour-disabled);
    opacity: 0.6;
    cursor: not-allowed;
}


.loader {
  --color-1: #fff;
  --size: 1px;
  width: calc(20 * var(--size));
  height: calc(20 * var(--size));
  border: calc(2 * var(--size)) solid var(--color-1);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
