.chips {
    display: flex;
    align-items: flex-start; 
    flex-direction: column; 
    gap: 4px;
   
}
.hasBorder {
    border: 1px solid var(--border-colour);
    box-shadow: var(--input-shadow);
    background-color: var(--input-background);
    border-radius: var(--border-radius);
}



.chip {
    width: var(--width);
    height: 50px;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    border-radius: var(--border-radius);
    background-color: var(--colour-enabled);
    border: 4px solid var(--colour-enabled);
    box-shadow: var(--shadow-enabled);
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    color: white;
    cursor: pointer;

    &:hover:not(:disabled) {
        background-color: var(--colour-hover);
        border-color: var(--colour-hover);
        box-shadow: var(--shadow-hover);
    }

    &:focus-visible {
        background-color: var(--colour-focus);
        border-color: var(--colour-focus);
        box-shadow: inset 0 0 0 2px white;
    }

    &:active:not(:disabled) {
        background-color: var(--colour-active);
        border-color: var(--colour-active);
        box-shadow: none;
    }

    &.isLoading {
        background-color: var(--colour-active);
        border-color: var(--colour-active);
        box-shadow: none;
        &:disabled {
            cursor: none;
        }
    }

    &.isError:disabled {
        background-color: var(--colour-error);
        border-color: var(--colour-error);
        box-shadow: none;
        cursor: none;
    }

    &.isSuccess:disabled {
        background-color: var(--colour-success);
        border-color: var(--colour-success);
        box-shadow: none;
        cursor: none;
    }

    &:disabled:not(.isLoading):not(.isSuccess):not(.isError) {
        background-color: var(--colour-disabled);
        border-color: var(--colour-disabled);
        opacity: 0.5;
        box-shadow: none;
        cursor: none;
    }
}
