.masonryCard {
    width: var(--card-calucated-width);
    box-shadow: var(--card-shadow-default);
    background-color: var(--card-background-colour);
    border-radius: var(--card-border-radius); 
    cursor: pointer;
    &:hover {
        box-shadow: var(--card-shadow-hover);   
    }
    &:active {
        box-shadow: var(--card-shadow-active); 
    }
    .image {
        border-top-left-radius: var(--card-border-radius); 
        border-top-right-radius: var(--card-border-radius);
        object-fit: cover;
        object-position: var(--image-position);
    }
    .content {
        width: 100%;
        padding: var(--card-padding);
        box-sizing: border-box;
    }
    .content h4 {
        margin-top: 0px;
    }
}
