@mixin flex-column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.group {
    width: var(--width);
    max-width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;

    .item {
        width: 100%;
        @include flex-column;
        gap: 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid black;

        .header {
            @include flex-column;
            width: 100%;

            .toggle {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                padding-top: 10px;
                padding-bottom: 15px;

                h4 {
                    margin: 0px;
                }

                button.trigger {
                    all: unset;
                    cursor: pointer;
                    height: 35px;
                    width: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 17px;
                        width: 17px;
                    }
                }
            }

            p.desc {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }

        .content {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            padding: 10px, 10px, 10px, 0px;
            box-sizing: border-box;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transform: translateY(-10px);
            transition: 
                max-height 0.35s ease,
                opacity 0.35s ease,
                transform 0.35s ease;
        }

        .open {
            max-height: 500px; // adjust based on your content size
            opacity: 1;
            transform: translateY(0);
        }

        .contentInner {
            padding-top: 16px;
        }
    }
}


